

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



<link rel="stylesheet"  href="{{ url_for('static', filename= 'css/style.css') }}">






{% extends "base.html" %}

{% block content %}
<h1 id="saludodeinicio" class="title" >
    <hr>
    Hola , {{name}} un placer verte estamos para ayudarte!



</h1>


<div id ="chanchito0" class="navbar-item"   >
    <ul>
        
    
    <Div  ><a id="chanchitogrande1" href="{{ url_for('main.profile') }}" class="button">
    Inicio</a>
    </Div>
    
    
        <hr>
    <div>   <a id="chanchitogrande2" href="{{ url_for('main.index') }}"class="button" >
            Perfil
            </a> </div>
     <hr>
            

     
     <div>   <a id="AJUSTES" href="{{ url_for('main.AJUSTES') }}"class="button" >
             Ajustes
             </a> </div>
      <hr>
      
  
     
      <div>   <a id="chanchitogrande4" href="{{ url_for('auth.logout') }}"class="button" >
              Salir
              </a> </div>
       <hr>
  
              </div>
             

          
         
                       
                <div class="text-box">
                    <a id="CREW" href ="{{ url_for('main.CREW') }}" class="btn btn-white btn-				 animate">Crea Tus Tickets</a>
                </div>

{% endblock %}

</body>
</html>



